<mat-card>
  <mat-card-header>

  </mat-card-header>
  <form [formGroup]="group">
    <mat-card-content class="mb-0">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          placeholder="Title"
          formControlName="title"
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Details</mat-label>
        <input
          matInput
          type="text"
          placeholder="Details"
          formControlName="details"
        >
      </mat-form-field>

      <span>Importance Level</span>
      <mat-slider [thumbLabel]="true" class="w-100" formControlName="importanceLevel"></mat-slider>

    </mat-card-content>
    <mat-card-actions class="d-flex flex-row-reverse mb-0">
      <button mat-button color="primary" type="submit">Submit</button>
      <button mat-button color="warn" type="reset">Cancel</button>
    </mat-card-actions>

  </form>
</mat-card>
